node_modules
.DS_Store
tmp/**/*
.idea
.idea/**/*
*.iml
*.sublime-*
_site
dist/*.js
coverage/
*.js.html
.mailmap
bower.json
component.json
css/images/icons-000000@2x.png
css/images/icons-ffffff@2x.png
test.png
